{
    "DryRun": false,
    "BlockDeviceMappings": [
        {
        	"DeviceName": "/dev/sda1",
            "Ebs": {
                "VolumeSize": {{ values.volume_size }},
                "VolumeType": "gp2"
            }
        }
    ],
    "ImageId": "ami-46c1b650",
    "InstanceType": "{{ values.instance_type }}",
    "SubnetId": "subnet-7ca7d90b",
    "KeyName": "{{ values.key_name }}",
    "SecurityGroupIds": [
        "sg-823908f8"
    ]
}